<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="static/shared.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Cele podróży</title>
</head>
<body>
    <header> 
        <div id="page-logo">
            <a href="{{ url_for('home') }}">Cele podróży</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('places') }}">Przyszłe podróże</a>
                </li>
                <li>
                    <a href="">O mnie</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="hero">
            <div id="hero-content">
            <h1>Strona podróżnicza</h1>
            <p>Poznajmy świat!</p>
            <a href="{{ url_for('places') }}">Odkryj piękne miejsca</a>
            </div>

        </section>
        <section id="highlights">
            <h2>Odwiedzone</h2>
            <ul id="destinations">
                <li class="destination">
                    <img src="static/leba.jpg" alt="Plaża w Łebie">
                    <p>Łeba <strong>Polska</strong></p>
                </li>
                <li class="destination">
                    <img src="static/wieden.jpg" alt="Pomnik Straussa">
                    <p>Wiedeń <strong>Austria</strong></p>

                </li>
                <li class="destination">
                    <img src="static/wydmy.jpg" alt="Wydmy Czołpińskie">
                    <p>Wydmy Czołpińskie <strong>Polska</strong></p>
                </li>
            </ul>

        </section>
    </main>
    <footer>
        <ul>
            <li>
                <a href="https://www.instagram.com"><img src="static/insta.png" alt="Instagram icon"></a>
            </li>
            <li>
                <a href="https://www.facebook.com"><img src="static/facebook.png" alt="Facebook icon"></a>
            </li>
        </ul>
    </footer>
</body>
</html>